*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: #0F1111;
    width: 100%;
    height: 60px;
    justify-content: space-around;
}
.logo{
    width: 130px;
    height: 53px;
    background-image: url(amznLogo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1px 8px 0px 6px;
    margin: 1px;
}
.address, .signin, .returnorder{
    width: 195;
    height: 50;
    padding: 0px 9px;
    justify-content: center;
    text-align: center;
    margin: 5px 2px 5px 0px;
}
.address p, .signin p, .returnorder p{
    font-size: 12px;
    color: #CCCC;
}
.addressbelow, .addressbelow p, .accountlist p, .andorders p{
    font-size: 14px;
    color: white;
    display: flex;
}
.searchoption{
    border-radius: 4px;
    width: 367px;
    height: 40px;
    display: flex;
    margin: 0px 6px;
    background-color: rgb(244, 198, 47);
    
}
.searchoption select{
    width: 45px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search{
    display: flex;
    justify-content: space-between;
}
.search input{
    outline: none;
    font-size: 16px;
    width: 280px;
}
.searchlogo{
    padding: 10px;
    justify-content: center;
    height: 40px;
}
.cartlogo{
    font-size: 35px;
    display: flex;
    align-items: center;
    width: 84px;
    height: 50px;
    color: white;
    justify-content: center;
}
.message{
    font-size: 14px;
    color: #CCCC;
}
.lastboxnavbar{
    width: 381px;
    height: 58px;
    display: flex;
    justify-content: space-evenly;
}
.navbar2{
    display: flex;
    height: 39px;
    width: 100%;
    background-color: #232F3E;
    color: white;
    font-size: 25px;
    padding: 8px 9px;
    justify-content: space-around;
}
.navbar2-all{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    width: 59px;
}
.navbar2-all-text{
    font-size: 14px;
    padding: 0px 0px 0px 5px;
}
.navbar2-remaining{
    align-items: center;
    display: flex;
    
    font-size: 14px;
    padding: 0px 0px 0px 5px;
    justify-content: space-around;
}
.remaining1{
    text-align: center;
    font-size: 14px;
    margin: 5px 0px 6px;
    animation-duration: 4s;
}
.navbar2-all:hover,
.remaining1:hover {
  border: 1px solid white;
  cursor: pointer;
  border-radius: 2px;
  background-color: #37475a; 
  transition: 0.2s ;
}
.backgroundimages{
    display: flex;
    flex-direction: column;
}

.mainimage{
    background-image: url(backgroundimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    align-items: center;
    padding-bottom: 10px;
}
.Box-1{
    height: 100%;
    display: flex;
    justify-content: space-around;

}
.box1, .box2, .box3, .box4{
    text-align: left;
    margin-bottom: 20px ;
    margin-left: 20px;
    padding: 20px 10px 15px;
    color: black;
    font-size: 21px;
    height: 350px;
    background-color: white;
    border-radius: 2px;
    border: 0.5px solid black;
    
}
.Box-1 p{
    margin:  0px 20px;
    background-color: ;
    
}
.imageinsidebox{
    height: 102px;
    width: 52%;
}

 .box1-image{
    object-fit: cover;
    background-image: url(box1-image.png);
    background-position: center;
    background-repeat: no-repeat;
    height:70%;
 }
.box2-image{
    object-fit: cover;
    padding-left: 60px;
    background-image: url(box2-image.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height:70%;
}
.box3-image{
    object-fit: cover;
    padding-left: 60px;
    background-image: url(box3-image.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height:70%;
}
.box4-image{
    object-fit: cover;
    padding-left: 60px;
    background-image: url(box4-image.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height:70%;
}
.box1 a, .box2 a, .box3 a, .box4 a{
    padding-top: 30px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 14px;
}